<div class="card text-left border-0">
    {{!-- <img class="card-img-top" src="https://bit.ly/2Wz5W4o" alt="ava"> --}}
    <div class="card-body">
        <b class="card-title">{{Fullname}}</b>
        <p class="card-text">{{Content}}</p>
    </div>
</div>