<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" role="sidebar" href="">
                <i class="fab fa-buffer"></i>
                <div class="label">
                    Caterogies
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" role="sidebar" href="#">
                <i class="fas fa-tag"></i>
                <div class="label">
                    Tags
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" role="sidebar" href="#">
                <i class="fas fa-drafting-compass"></i>
                <div class="label">
                    Drafts
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" role="sidebar" href="#">
                <i class="far fa-user"></i>
                <div class="label">
                    Users
                </div>
            </a>
        </li>
    </ul>
</div>