<footer>
	<link rel='stylesheet' href='/stylesheets/footer.css'>
	<section class="cid-rnNh0X6qr0">

<<<<<<< HEAD
		<div class="container">
			<div class="media-container-row">
				<div class="col-md-3">
					<div class="media-wrap">
						<a href="/">
							<img src="/images/logo.png" title="" style="width: 143px;height: 50px;border-radius: 10%;">
						</a>
					</div>
				</div>
				<div class="col-md-9">
					<p class="mbr-text align-right links mbr-fonts-style display-7"><em><strong><a href="#"
									class="text-black">HOME</a> &nbsp;&nbsp;&nbsp;&nbsp;
								<a href="#" class="text-black">ABOUT</a> &nbsp;&nbsp;&nbsp;&nbsp;
								<a href="#" class="text-black">TERMS</a> &nbsp;&nbsp;&nbsp;&nbsp;
								<a href="#" class="text-black">CONTACT</a></strong></em>
					</p>
				</div>
			</div>
			<div class="footer-lower">
				<div class="media-container-row">
					<div class="col-md-12">
						<hr>
					</div>
				</div>
				<div class="media-container-row mbr-white">
					<div class="col-md-6 copyright">
						<p class="mbr-text mbr-fonts-style display-7">
							© Copyright 2019 TechHub - All Rights Reserved
						</p>
					</div>
					<div class="col-md-6">
						<div class="social-list align-right">
							<div class="soc-item">
								<a href="#" target="_blank">
									<span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
								</a>
							</div>
							<div class="soc-item">
								<a href="#" target="_blank">
									<span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
								</a>
							</div>
							<div class="soc-item">
								<a href="#" target="_blank">
									<span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
								</a>
							</div>
							<div class="soc-item">
								<a href="#" target="_blank">
									<span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
								</a>
							</div>


						</div>
					</div>
				</div>
			</div>
=======
	    <div class="container">
		<div class="media-container-row">
		    <div class="col-md-3">
		        <div class="media-wrap">
		            <a href="https://google.com" >
		               <img src="/images/logo.png" title=""  class="logo-img">
					   {{!-- style="width: 143px;height: 50px;border-radius: 10%; --}}
		            </a>
		        </div>
		    </div>
		    <div class="col-md-9">
		        <p class="mbr-text align-right links mbr-fonts-style display-7"><em><strong><a href="#" class="text-black">HOME</a> &nbsp;&nbsp;&nbsp;&nbsp;
		            <a href="#" class="text-black">ABOUT</a> &nbsp;&nbsp;&nbsp;&nbsp;
		            <a href="#" class="text-black">TERMS</a> &nbsp;&nbsp;&nbsp;&nbsp;
		            <a href="#" class="text-black">CONTACT</a></strong></em>
		        </p>
		    </div>
		</div>
		<div class="footer-lower">
		    <div class="media-container-row">
		        <div class="col-md-12">
		            <hr>
		        </div>
		    </div>
		    <div class="media-container-row mbr-white">
		        <div class="col-md-6 copyright">
		            <p class="mbr-text mbr-fonts-style display-7">
		                © Copyright 2019 TechHub - All Rights Reserved
		            </p>
		        </div>
		        <div class="col-md-6">
		            <div class="social-list align-right">
		                <div class="soc-item">
		                    <a href="#" target="_blank">
		                        <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
		                    </a>
		                </div>
		                <div class="soc-item">
		                    <a href="#" target="_blank">
		                        <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
		                    </a>
		                </div>
		                <div class="soc-item">
		                    <a href="#" target="_blank">
		                        <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
		                    </a>
		                </div>
		                <div class="soc-item">
		                    <a href="#" target="_blank">
		                        <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
		                    </a>
		                </div>
		                
		                
		            </div>
		        </div>
		    </div>
>>>>>>> master
		</div>
	</section>
</footer>