<div class="card index-card {{sm}}">
    {{!-- <div class="card-image"> --}}
    <img class='card-image' src="/images/articles/1/article-img1.png" alt="">
    {{!-- </div> --}}
    <h4 class="card-title">Lorem ipsum, dolor sit amet.</h4>
    <div class="card-info">
        <div class="sc-info">
            <img src="/images/icons/outline-create-24px.svg" alt="Date Created">
            <div>
                <div>
                    <em>Author: Uname</em>
                </div>
                <div>
                    <em>Date: dd/mm/yyy</em>
                </div>
                <div class="badge badge-primary">{{category}}</div>
            </div>
        </div>
    </div>
    {{#unless sm}}
    <div class="card-content">
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, doloremque numquam nulla
            ipsa quidem mollitia
            porr onsit tempore aspernatur corrupti! Ab nam natus facilis quae laboriosam aliquid sunt sapiente quidem.
        </p>
    </div>
    {{/unless}}
</div>