<div class="row hsc">
    <div class="col-sm-4">
        <img src="/images/articles/1/article-img1.png" alt="" class="card-img">

    </div>
    <div class="col-sm-8">
        <div class="badge badge-primary">{{category}}</div>
        <h3>Canonical ra mắt Ubuntu 19.04!</h3>
        <div class="post-info">
            <strong>Tác giả: </strong>Nguyễn Công Hưng
            <span> | </span>
            <strong>Ngày xuất bản: </strong> 03/05/2019
        </div>
        <div class="abstract">
            Canonical ra mắt Ubuntu 19.04 với một số nâng cấp về hiệu năng nhưng liệu
            bạn có nên nâng cấp ngay?
        </div>
    </div>

</div>