<div class="card" id="card-detail">
    <div class="card-body">
        <div class="card-detail">
            <small class="card-writer">{{writer}}</small>
            <h5 class="card-title"><a href="{{link}}" id="card-title"><b>{{title}}</b></a></h5>
            <small class="card-datetime">{{datetime}}</small>
        </div>
        <div class="card-action">
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle action" data-toggle="dropdown"><b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-right shadow-none" id="action">
                    <li><button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#view_modal"><i class="far fa-eye"></i><small>
                                Xem</small></button></li>
                    <li><button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#publish_modal"><i class="far fa-newspaper">
                            </i><small>Xuất bản</small> </button> </li>
                    <li><button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#deny_modal"><i class="fas fa-eraser"></i><small>
                                Từ chối</small></button>
                    <li><button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#trash_modal"><i class="fas fa-trash"></i><small>
                                Xóa</small></button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="modal fade" id="view_modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-primary"><small>
                        Xuất bản ngay</small></button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trash_modal"><small>
                        Xóa</small></button>
            </div>
            <div class="modal-body" id="data">
                {{> article}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="publish_modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4>Lý do từ chối</h4>
            </div>
            <div class="modal-body" id="data">
                <form>
                    <div class="form-group">
                        <label for="categories"><b>Categories:</b></label>
                        <select class="form-control" id="categories">
                            <option value="volvo">Category 1</option>
                            <option value="saab">Category 1</option>
                            <option value="mercedes">Category 1</option>
                            <option value="audi">Category 1</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tags"><b>Tags:</b></label>
                        <input class="form-control" type="text" name="tags" id="tags">
                    </div>
                    <div class="form-group">
                        <label for="date"><b>Ngày xuất bản:</b></label>
                        <input class="form-control" type="date" name="date" id="date">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Lưu &amp; xuất bản</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deny_modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4>Lý do từ chối</h4>
            </div>
            <div class="modal-body" id="data">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="control-label"><b>Yêu câu hiệu chỉnh:</b></label>
                        <textarea class="form-control" id="message-text" rows="5"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Gửi tin nhắn</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="trash_modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4>Xác nhận xóa bài</h4>
            </div>
            {{!-- <div class="modal-body" id="data">
                <form>
                    <div class="form-group">
                        <p class="form-controll">Thật sự muốn xóa bài</p>
                    </div>
                </form>
            </div> --}}
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Xóa bài</button>
            </div>
        </div>
    </div>
</div>