<div class="card">
    <img src="/images/articles/1/article-img1.png" alt="" class="card-img-top">
    <div class="card-body">
        <h4>Lorem ipsum, dolor sit amet.</h4>
        <div class="sc-info">
            <img src="/images/icons/outline-create-24px.svg" alt="Date Created">
            <div>
                <div>
                    <em>Author: Uname</em>
                </div>
                <div>
                    <em>Date: dd/mm/yyy</em>
                </div>
                <div class="badge badge-primary">{{category}}</div>
            </div>
        </div>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, doloremque numquam nulla
            ipsa quidem mollitia
            porr onsit tempore aspernatur corrupti! Ab nam natus facilis quae laboriosam aliquid sunt sapiente quidem.
        </p>
        <button class="btn btn-primary">Xem</button>
        <button class="btn btn-info">Chỉnh sửa</button>
    </div>
</div>