<ul class="nav nav-pill flex-column">
    <li class="nav-item nav-ava">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ97nynHETPkcHfpv-X_8-2yxyjRAeheGcsaCnVJv0jAi_qBc7PWg"
            alt="Avatar" class="avatar">
        <span class="display-name">{{authUser.Fullname}}</span>
    </li>

    <li class="nav-item">
        <a class="btn btn-sidebar" href="/writer/editor" id="new-post">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Viết bài</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-sidebar" href="/writer/articles" id="posts">
            <i class="fa fa-align-right" aria-hidden="true"></i>
            Các bài đã đăng</a>
    </li>

</ul>