<ul class="nav nav-pill flex-column">
    <li class="nav-item nav-ava">
        <img src="/images/ava_test.jpg" alt="Avatar" class="avatar">
        <span class="display-name">Nguyen Khang</span>
    </li>
    <li class="nav-item">
        <a class="btn btn-sidebar" href="#">
            <span><img src="/images/icons/baseline-create-24px.svg" alt=""></span>
            Viết bài
        </a>
    </li>
    <li class="nav-item">
        <a class="btn btn-sidebar" href="/writer/articles">
            <span><img src="/images/icons/baseline-format_align_right-24px.svg" alt=""></span>
            Các bài đã đăng</a>
    </li>
</ul>