<div class="card border-0" id="card-detail-{{index}}">
    <div class="card-body">
        <div class="user-detail">
            <h5 class="user-fullname"><b>{{fullname}}</b></h5>
            <p class="user-username rb-0">@{{username}}</p>
            <p class="user-type"><span class="badge badge-primary">{{{type}}}</span></p>
        </div>
        <div class="user-action">
            <a href="#" class="action"></a>

        </div>
    </div>
</div>