<div class="d-flex justify-content-center">
  <ul class="nav nav-tabs" >
    <li class="nav-item">
      <a class="nav-link" href="/admin/welcome/drafts">Drafts Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/welcome/categories">Categories Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/welcome/tags">Tags Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/welcome/users">User Management</a>
    </li>
  </ul>
</div>