<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/main.css'>
    {{{_sections.css}}}

    <style>
        .nav-link[role="sidebar"] {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0.5rem 1rem;
        }
    </style>

</head>

<body>
    <script src="https://code.jquery.com/jquery-3.4.0.js"></script>
    <div class="main">
        {{> navbar}}
        <div class="wrapper">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light">
                    {{>editor-sidebar}}
                </nav>
                <nav class="col-md-10 d-none d-md-block">
                    {{{ body }}}</nav>
            </div>
        </div>
        {{> footer}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {{{_sections.js}}}

    </div>

</body>

</html>