<!DOCTYPE html>
<html><head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/welcome-admin.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" type="text/css" href="/data-table/site-examples.css">
	<link rel="stylesheet" type="text/css" href="/data-table/jquery.css">
	<style type="text/css" class="init"></style>
	<script src="/data-table/jquery-3.js"></script>
	<script src="/data-table/jquery.js"></script>

	{{!-- <link rel="stylesheet" type="text/css" href="/stylesheets/admin/dataTables.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/admin/form-style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/admin/style.css"> --}}

</head>
<body class="">
    {{>welcome-nav}}
    {{{ body }}}
<script src="https://code.jquery.com/jquery-3.4.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
<script src="/data-table/jquery-3.js"></script>
<script src="/data-table/jquery.js"></script>
{{!-- <script src="/javascripts/admin/data-table.js"></script>
<script src="/javascripts/admin/dataTables.js"></script>
<script src="/javascripts/admin/hoverable-collapse.js"></script>
<script src="/javascripts/admin/jquery.js"></script>
<script src="/javascripts/admin/template.js"></script>
<script src="/javascripts/admin/vendor.js"></script> --}}
</body>
</html>
