<script
    src="https://cdn.tiny.cloud/1/j7ksxfppru4mwv156fe0cz8fobscw12j7jmaiw7cvfqaer16/tinymce/5/tinymce.min.js"></script>
<script>
    tinymce.init({ selector: '#tiny-editor', menubar: false, border: false });

</script>
<form method="POST">
    <input id="post-title" type="text" class="form-control border-0 shadow-none lead" placeholder="Tiêu đề" width="100%"
        name="Title" />
    <textarea id="tiny-editor" name="Content"></textarea>
    <div class="form-group d-flex flex-row-reverse">
        <button type="submit" class="btn btn-outline-primary mt-5 right">Đăng bài</button>
    </div>
</form>