{{!-- <div class="row">
    <div class="col-sm-2">
        {{> side-panel}}
    </div>
    <div class="col-sm-10 writer-welcome"> --}}
<div class="jumbotron  writer-welcome">
    <h1>Chào mừng bạn, phóng viên của TechHub</h1>
    <h2>Chúng tôi hy vọng bạn sẽ thích thú khi được chia sẻ kinh nghiệm, kiến thức của mình đến mọi người</h2>
    <p>Để bắt đầu viết bài, bạn chọn mục <strong>Viết bài</strong> phía bên trái màn hình.</p>
    <p>Để xem lại các bài viết của mình, bạn chọn mục <strong>Các bài đã đăng</strong></p>
</div>
{{!-- </div>
</div> --}}