.nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.label {
  padding-left: 1rem;
}

.sidebar-sticky {
  display: block;
  position: sticky;
}

.wrapper {
  padding-left: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/*
 * Sidebar
 */

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
  color: #007bff;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

p {
  margin-block-end: 0;
}

.action::before {
  background: none;
  font-family: "fontawesome";
  content: "\f054";
}

.card > .card-body {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0.8rem;
}

.card-infor img {
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar {
  width: fit-content;
  height: fit-content;
}
