.cat_technology {
  background: #ea8b26 !important;
}
.cat_world {
  background: #61e49b !important;
}
.cat_video {
  background: #ff4b75 !important;
}
.cat_party {
  background: #f8a64f !important;
}
.cat_technology a,
.cat_world a,
.cat_video a,
.cat_party a {
  color: #ffffff !important;
}
.fadeIn {
  animation-delay: 900ms;
}

.tags {
  margin-top: 52px;
}
.tags_content {
  margin-top: 40px;
}

.tag {
  height: 44px;
  background: orange;

  margin-right: 10px;
  margin-bottom: 8px;
}
.tag a {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 12px;
  color: #000000;
  line-height: 44px;
}

.technology {
  margin-top: 20px;
}
.technology_content {
  margin-top: 96px;
}

.section_title {
  font-size: 36px;
  font-weight: bold;
  line-height: 0.75;
  color: #000000;
  white-space: nowrap;
}

.section_title_container > div:first-child {
  margin-right: 38px;
}

.section_subtitle {
  font-size: 16px;
  color: #838282;
  font-weight: bold;
  line-height: 0.75;
  margin-top: 11px;
}
.section_bar {
  width: 100%;
  height: 26px;
  background: #ebeded;
  margin-top: 1px;
}
.technology_content {
  margin-top: 96px;
}
.post_item {
  width: 100%;
}
.post_h_large:not(:last-child) {
  margin-bottom: 30px;
}

.post_h_large .post_title {
  margin-top: 13px;
}

.post_h_large .post_title a {
  font-size: 26px;
  color: #000000;
  line-height: 1.2;
}

.post_v_large .post_content {
  width: 100%;
  padding-top: 38px;
}

.post_image {
  width: 100%;
}
.post_image img {
  max-width: 100%;
  height: 224px;
  width: 327px;
}

.post_category {
  display: inline-block;
  height: 29px;
  padding-left: 13px;
  padding-right: 13px;
}
.post_category a {
  display: block;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.35em;
  color: #ffffff;
  line-height: 29px;
  margin-right: -0.35em;
}

.post_title a {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.post_h_large .post_title {
  margin-top: 13px;
}

.post_h_large .post_title a {
  font-size: 26px;
  color: #000000;
  line-height: 1.2;
}

.post_title a:hover {
  color: #61e49b;
}

.post_info > div:first-child::after {
  display: inline-block;
  content: "|";
  margin-left: 12px;
  margin-right: 16px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #838383;
}

.post_author_image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}
.post_author_name {
  margin-left: 14px;
  margin-top: 1px;
}
.post_date {
  margin-top: 1px;
}
.post_author_name a,
.post_date a {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #838383;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.post_author_name a:hover,
.post_date a:hover,
.post_comments a:hover {
  color: #61e49b;
}
.post_comments a {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #a1a1a1;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.post_comments a::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: #eaeaea;
  content: "";
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.post_comments a:hover::after {
  background: #61e49b;
}
.post_text {
  margin-top: 20px;
}

.test {
  color: #61e49b;
}

.sidebar {
  width: 100%;
  margin-top: 13px;
}
.sidebar_title {
  font-size: 18px;
  color: #000000;
}

.sidebar-area {
  position: relative;
  z-index: 1;
}
.bg-white {
  background-color: #ffffff !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.box-shadow {
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15) !important;
}
.p20 {
  padding: 20px !important;
}
.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  background-color: #f2f4f5;
  padding: 10px 25px;
  border-left: 4px solid #ed3974;
}
.section-heading h5 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1;
}
@media only screen and (max-width: 767px) {
  .section-heading h5 {
    font-size: 16px;
  }
}
.catagory-widgets {
  position: relative;
  z-index: 1;
}
.catagory-widgets li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 20px;
}

._li {
  color: #979797;
}
.catagory-widgets li a:hover,
.catagory-widgets li a:focus {
  color: #b7b7b7;
}
.catagory-widgets li:last-child a {
  margin-bottom: 0;
}
._ul {
  list-style: none;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.pagination .page-item .page-link {
  background-color: #e1e1e1;
  min-width: 44px;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  color: #1a1a1a;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  padding: 0 15px;
  margin-right: 5px;
  border: 1px solid #ebebeb;
}
.pagination .page-item .page-link:hover,
.pagination .page-item .page-link:focus {
  background-color: orange;
  color: #ffffff;
  border-color: orange;
}
.pagination .page-item.active .page-link {
  background-color: orange;
  color: #ffffff;
  border-color: orange;
}

.milestone {
  width: 100%;
}
.milestone_icon {
  display: inline-block;
}
.milestone_icon img {
  height: 75px;
  width: 75px;
}
.milestone_content {
  padding-left: 29px;
}
.milestone_counter {
  font-size: 72px;
  color: #979797;
  line-height: 0.75;
}
.milestone_text {
  font-size: 18px;
  color: #979797;
  margin-top: 14px;
  line-height: 1.2;
}

.milestone_text1 {
  font-size: 22px;
  color: #979797;
  margin-top: 14px;
  line-height: 1.2;
}

.flex-tag {
  display: flex;
  margin-right: 10px;
}

._tag {
  margin-left: 5px;
}

.addcatebtn {
  padding: 11px;
  margin-top: 17px;

  float: right;
  background-color: #7f27b9;
}

/* .search-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .search-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .search-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .search-container {
    width: 1170px;
  }
} */
.search-container{
  max-width: 70%;
  margin-left: auto;
  margin-right:auto;
}

.search-tags{
  font-size:14px;
  margin-right: 10px !important;
}

.sign-post{
  margin-right: 15px;
  font-weight: bold;
}

.icon-sign-post{
  margin-right: 5px;

}

/*last-articles*/
.single-blog-post {
  position: relative;
  z-index: 1;
  margin-bottom: 20px; }
.single-blog-post:last-child {
  margin-bottom: 0; }
.single-blog-post .post-thumbnail {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  max-width: 100px;
  width: 100px; }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
.single-blog-post .post-thumbnail {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  max-width: 80px;
  width: 80px; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
.single-blog-post .post-thumbnail {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  max-width: 80px;
  width: 80px; } }
@media only screen and (max-width: 767px) {
.single-blog-post .post-thumbnail {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  max-width: 80px;
  width: 80px; } }
.single-blog-post .post-thumbnail img {
  width: 100%; }
.single-blog-post .post-content {
position: relative;
z-index: 1;
padding-left: 20px; }
.single-blog-post .post-content .post-title {
  color: #393c3d;
  margin-bottom: 5px;
  display: block;
  font-size: 13px;
  font-weight: 400; }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-blog-post .post-content .post-title {
    font-size: 14px; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-blog-post .post-content .post-title {
    font-size: 13px; } }
@media only screen and (max-width: 767px) {
  .single-blog-post .post-content .post-title {
    font-size: 13px; } }
.single-blog-post .post-content .post-title:hover, .single-blog-post .post-content .post-title:hover {
  color: #db4437; }
.single-blog-post .post-content .post-meta a {
  display: inline-block;
  color: #595959;
  font-size: 12px; }
  .single-blog-post .post-content .post-meta a:hover, .single-blog-post .post-content .post-meta a:hover {
    color: #393c3d; }
.single-blog-post.style-2 {
margin-bottom: 0; }
.single-blog-post.style-2 .post-thumbnail {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 110px;
  flex: 0 0 110px;
  max-width: 110px;
  width: 110px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-blog-post.style-2 .post-thumbnail {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
      flex: 0 0 80px;
      max-width: 80px;
      width: 80px; } }
  @media only screen and (max-width: 767px) {
    .single-blog-post.style-2 .post-thumbnail {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
      flex: 0 0 80px;
      max-width: 80px;
      width: 80px; } }
  .single-blog-post.style-2 .post-thumbnail img {
    width: 100%; }
.single-blog-post.style-2 .post-content {
  position: relative;
  z-index: 1;
  padding-left: 20px; }
.single-blog-post.style-2 .post-content .post-title {
  color: #393c3d;
  margin-bottom: 10px;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-blog-post.style-2 .post-content .post-title {
      font-size: 14px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-blog-post.style-2 .post-content .post-title {
      font-size: 13px; } }
  @media only screen and (max-width: 767px) {
    .single-blog-post.style-2 .post-content .post-title {
      font-size: 13px; } }
.single-blog-post.style-2 .post-content .post-meta span {
  display: inline-block;
  color: #a6a6a6;
  font-size: 12px; }
.single-blog-post.style-3 {
  margin-bottom: 0; }
.single-blog-post.style-3 .post-thumbnail {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 140px;
  flex: 0 0 140px;
  max-width: 140px;
  width: 140px; }
  @media only screen and (max-width: 767px) {
    .single-blog-post.style-3 .post-thumbnail {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
      flex: 0 0 100px;
      max-width: 100px;
      width: 100px; } }
.single-blog-post.style-3 .post-content .post-title {
  color: #393c3d;
  margin-bottom: 15px;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5; }
  @media only screen and (max-width: 767px) {
    .single-blog-post.style-3 .post-content .post-title {
      font-size: 14px; } }
  .single-blog-post.style-3 .post-content .post-title:hover, .single-blog-post.style-3 .post-content .post-title:hover {
    color: #db4437; }
.single-blog-post.style-3 .post-content .post-meta span {
  display: inline-block;
  color: #a6a6a6;
  font-size: 12px; }
.single-widget {
  position: relative;
  z-index: 1;
  border-radius: 3px; }

.section-heading-widget {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  text-align: center; }
.section-heading-widget h4 {
  font-weight: 700;
  margin-bottom: 10px; }
.section-heading-widget .line {
  width: 150px;
  height: 1px;
  background-color: #4e5152;
  margin: 0 auto;
  position: relative;
  z-index: 1; }
  .section-heading-widget .line::after {
  width: 60px;
  height: 2px;
  background-color: #db4437;
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -30px; }
.section-heading-widget.style-2 {
  text-align: left; }
.section-heading-widget.style-2 .line {
  width: 100%; }
.section-heading-widget.style-2 .line::after {
  left: 0;
  margin-left: 0; }

.section-heading-widget .line {
  width: 150px;
  height: 1px;
  background-color: #4e5152;
  margin: 0 auto;
  position: relative;
  z-index: 1; }
.section-heading-widget .line::after {
  width: 60px;
  height: 2px;
  background-color: #db4437;
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -30px; }
.section-heading-widget .style-2 {
  text-align: left; }
.section-heading-widget .style-2 .line {
  width: 100%; }
.section-heading-widget .style-2 .line::after {
  left: 0;
  margin-left: 0; }

.single-post-area {
  position: relative;
  z-index: 1; }
.single-post-area .post-thumbnail {
  position: relative;
  z-index: 1; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-post-area .post-thumbnail {
      margin-bottom: 30px; } }
.single-post-area .post-content {
  position: relative;
  z-index: 1;
  margin-top: 10px; }
.single-post-area .post-content .post-title {
  display: block;
  color: #393c3d;
  margin-bottom: 0px;
  font-size: 20px; }
.single-post-area .post-content .post-title:hover, .single-post-area .post-content .post-title:focus {
  color: orange; }
.single-post-area .post-content .post-meta a {
  display: inline-block;
  margin-right: 20px; }
.single-post-area .post-content .post-meta a:hover, .single-post-area .post-content .post-meta a:focus {
  color: orange; }
.single-post-area .post-content .post-meta a:last-child {
  margin-right: 0; }
.single-post-area .post-content .post-meta .post-author {
  color: #595959; }
.single-post-area .post-content .post-meta .post-date {
  color: #595959; }
.single-post-area .post-content .post-meta i.fa-circle {
  color: #a6a6a6;
  font-size: 6px;
  margin-right: 20px; }
.single-post-area.style-2 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #393c3d; }