.action::before {
  background: none;
  font-family: "fontawesome";
  content: "\f142";
  font-size: x-large;
}

.dropdown-toggle::after {
  display: none;
}

.card-body {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.dropdown-menu a {
  white-space: normal;
}
.dropdown-menu > li {
  margin-left: 10px;
  position: relative;
}

.dropdown-menu > li > i {
  position: absolute;
  top: 3px;
  margin-right: 10px;
}
.navbar-nav > li > #action {
  background-color: white;
}

#action > li > a > small {
  margin-left: 10px;
}

h5 {
  font-weight: bold;
}
