.action::before {
  background: none;
  font-family: "fontawesome";
  content: "\f142";
  font-size: x-large;
}

.dropdown-toggle::after {
  display: none;
}


.dropdown-menu li {
  position: relative;
}

.dropdown-menu>li>i {
  position: absolute;
  top: 3px;
  margin-left: 10px;
}

.navbar-nav>li>.dropdown-action {
  background-color: white;
}

.dropdown-action>li>button>small {
  margin-left: 10px;
}

.dropdown-action>li>button {
  width: 100%;
  border-radius: 0%;
  border: none !important;
  text-align: left;
}

h5 {
  font-weight: bold;
}

.card-detail>p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.card-title {
  margin-bottom: 0;
}

.card-title>a {
  color: black;
}

a[id="card-title"]:hover {
  color: grey;
}

.view-modal .modal-header {
  display: flex;
  justify-content: flex-end;
}

.view-modal .modal-header>button {
  margin: 0.2rem;
}

.content-img {
  width: 100%;
  margin: 5px;
}