/*Footer CSS*/

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i);
@font-face {
  font-family: "socicon";
  src:url("./fonts/Socicon/socicon.eot");
  src:url("./fonts/Socicon/socicon.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Socicon/socicon.woff") format("woff"),
    url("./fonts/Socicon/socicon.ttf") format("truetype"),
    url("./fonts/Socicon/socicon.svg#socicon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "socicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  /* speak: none; */
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="socicon-"]:before,
[class*=" socicon-"]:before {
  font-family: "socicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  /* speak: none; */
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 172px;
}

      
.cid-rnNh0X6qr0 {
    padding-top: 45px;
    padding-bottom: 10px;
    background-color: #ffffff;
  }
@media (max-width: 767px) {
.cid-rnNh0X6qr0 .media-wrap {
      margin-bottom: 1rem;
      text-align: center;
    }
  }
.cid-rnNh0X6qr0 .media-wrap .mbr-iconfont-logo {
    font-size: 7rem;
    color: #f36;
  }
/* .cid-rnNh0X6qr0 .media-wrap img {
    height: 6rem;
  } */
.mbr-text {
    font-style: normal;
    line-height: 1.6;
  }
.cid-rnNh0X6qr0 .mbr-text {
    color: #767676;
  }
@media (max-width: 767px) {
.cid-rnNh0X6qr0 .footer-lower .copyright {
      margin-bottom: 1rem;
      text-align: center;
    }
  }
.cid-rnNh0X6qr0 .footer-lower hr {
    margin: 1rem 0;
    border-color: #000;
    opacity: .05;
  }
.cid-rnNh0X6qr0 .footer-lower .social-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
.cid-rnNh0X6qr0 .footer-lower .social-list .mbr-iconfont-social {
    font-size: 1.3rem;
    color: #232323;
  }
.cid-rnNh0X6qr0 .footer-lower .social-list .soc-item {
    margin: 0 .5rem;
  }
.cid-rnNh0X6qr0 .footer-lower .social-list a {
    margin: 0;
    opacity: .5;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
.cid-rnNh0X6qr0 .footer-lower .social-list a:hover {
    opacity: 1;
  }
  @media (max-width: 767px) {
.cid-rnNh0X6qr0 .footer-lower .social-list {
      -webkit-justify-content: center;
      justify-content: center;
    }
  }
.cid-rnNh0X6qr0 .links P {
    text-align: right;
  }
  

.media-container-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
}
.media-container-row .media-size-item {
    width: 400px; 
}

.media-container > div {
    max-width: 100%; }

.align-right {
    text-align: right; }
  
@media (max-width: 767px) {
    align-left, .align-center, .align-right, .mbr-section-btn, .mbr-section-title {
        text-align: center; } }

.cid-rnNh0X6qr0 .links P {
    text-align: right;
}

.display-7 {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
  }
.display-7 > .mbr-iconfont {
    font-size: 1.6rem;
}

.text-black {
    color: #000000 !important;
}

a.text-black:hover,
a.text-black:focus {
    color: #4d4d4d !important;
}

.mbr-white {
    color: #ffffff; }
.socicon-twitter:before {
        content: "\e040";
}
.socicon-twitter:before {
    content: "\e040";
}
.socicon-youtube:before {
  content: "\e051";
}

.socicon-instagram:before {
    content: "\e057";
}
.socicon-facebook:before {
    content: "\e041";
}

a.mbr-iconfont:hover {
    text-decoration: none; }

.article .lead p, .article .lead ul, .article .lead ol, .article .lead pre, .article .lead blockquote {
    margin-bottom: 0; }

a {
    font-style: normal;
    font-weight: 400;
    cursor: pointer; }
a, a:hover {
    text-decoration: none; }


