body {
  padding: 0px;
  font-size: 14px;
  font-family: "Roboto Slab", serif;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: #00b7ff;
}

#logo-img {
  height: 40px;
  border-radius: 5px;
}

.navbar {
  padding: 0.2rem 1rem;
}

.update-body,
.login-body {
  background: #ffffff;
  width: 100% !important;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 15px;
  width: 100% !important;
  max-width: 100%;
  min-height: 700px;
}

.update-form,
.login-form {
  display: inline-block;
  background-color: #ffffff;
  width: 400px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
}

.dropdown-menu {
  margin-top: 15px;
  background-color: #e95420;
}

.dropdown-item {
  color: #ffffff;
}

/* CSS for "Articles" page*/
.card {
  display: inline-block;
  border-radius: 5px;
  width: 300px;
  margin: 10px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.articles-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sc-info {
  display: flex;
  justify-content: flex-end;
  opacity: 0.8;
}

/* Pagination */
.paging {
  display: flex;
  justify-content: center;
}

/* Sidebar CSS */
.btn-sidebar {
  width: 100%;
  text-align: start;
  transition: 200ms;
  border-radius: 0;
}

.btn-sidebar:hover {
  background: #e95420;
}

.nav-ava {
  display: flex;
  align-items: center;
}

.avatar {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 5px;
  border-radius: 50%;
}

.display-name {
  font-size: 12pt;
}
