/* Change Password Css */
#change-password-form {
  width: 400px;
  margin: 10% auto;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
  border-radius: 2%;
}
#change-password-form .input-group {
  padding: 0% 5% 0% 5%;
}

#change-password-form .text-center {
  padding: 5%;
}

#change-password-form small {
  color: gray;
}
.no-border {
  outline: none;
  box-shadow: none !important;
  border: none;
}
