/* Change Password Css */
#change-password-form {
  width: 400px;
  margin: 2% auto;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
  border-radius: 2%;
}
#change-password-form .input-group {
  padding: 5% 5% 0% 5%;
}

#change-password-form .text-center {
  padding: 5%;
}

#change-password-form small {
  color: gray;
}
.no-border {
  outline: none;
  box-shadow: none !important;
  border: none;
}

.hidden {
  visibility: hidden;
}

.unmask::before {
  font-family: "fontawesome";
  content: "\f06e";
  color: gray;
}

.password[type="text"] + .input-group-append .unmask:before {
  content: "\f070";
  color: #e95420;
}
#valid {
  font-size: 12px;
  color: #daa;
  height: 15px;
  text-align: center;
}
#strong {
  height: 20px;
  font-size: 12px;
  color: #daa;
  text-transform: capitalize;
  background: rgba(205, 205, 205, 0.1);
  margin: 5% 5% 5%;
  border-radius: 5px;
  overflow: hidden;
}

#strong span {
  display: block;
  text-align: center;
  box-shadow: 0 0 0 #fff inset;
  height: 100%;
  transition: all 0.8s;
}
#strong .weak {
  box-shadow: 5em 0 0 #daa inset;
}
#strong .medium {
  color: #da6;
  box-shadow: 10em 0 0 #da6 inset;
}
#strong .strong {
  color: #595;
  box-shadow: 50em 0 0 #ada inset;
}

span {
  display: block;
  font-size: 14px;
  color: #989598;
}
