/* CSS for "Articles" page*/

.card {
  display: inline-block;
  border-radius: 5px;
  width: 300px;
  margin: 10px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.articles-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.author-date {
  display: inline-block;
}

.container.editor {
  margin-top: 2%;
  width: 65%;
}

/* .writer-welcome {
  background-image: url('../images/writer-welcome.jpg')
} */