<div class="container">
    {{!-- Top articles --}}
    <div class="row section">
        <div class="col-sm-7">
            <div id="main-slide" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {{#each topWeek}}
                    <div class="carousel-item {{#unless @index}}active
                    {{/unless}}">
                        {{>short-content sc-id = this.Id  sc-image = this.Cover sc-title = this.Title sc-author = this.Alias sc-date = this.PublishDate sc-category = this.Category sc-abstract = this.Abstract}}
                    </div>
                    {{/each}}
                </div>
                <a class="carousel-control-prev" href="#main-slide" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#main-slide" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-sm-5">
            {{#each topr}}
            {{>home-short-content sc-id = this.Id sc-image = this.Cover sc-title = this.Title sc-author=this.Alias sc-date = this.PublishDate sc-category = this.Category}}
            {{/each}}
        </div>
    </div>

    {{!-- Under top articles --}}
    <div class="row section">
        {{!-- Panels on the left --}}
        <div class="col-sm-3">
            <div class="top-category section">
                <div class="group-header">
                    Chuyên mục
                </div>
                <ul class="nav flex-column">
                    <li>
                        <a class="panel-category" href="">Apple</a>
                    </li>
                    <li>
                        <a class="panel-category" href="">Samsung</a>
                    </li>
                    <li>
                        <a class="panel-category" href="">Hewlett-Packard</a>
                    </li>
                    <li>
                        <a class="panel-category" href="">Artificial Intelligence</a>
                    </li>
                    <li>
                        <a class="panel-category" href="">Xiaomi</a>
                    </li>
                </ul>
            </div>
            <div class="home-login section">
                <div class="group-header">
                    Đăng nhập nhanh
                </div>
                <form class="login-form login-form-sm" action="">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="abc@xyz.com.vn">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Mật khẩu:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="******">
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"> Ghi nhớ đăng nhập
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                </form>
            </div>
        </div>
        <div class="col-sm-9">
            {{!-- Most viewed articles --}}
            <div class="section">
                <div class="group-header">
                    Xem nhiều
                </div>
                <div class="group-contents">
                    {{#each mostView}}
                    {{>horizontal-short-content  sc-id = this.Id  sc-image = this.Cover sc-title = this.Title sc-author = this.Author sc-date = this.PublishDate sc-category = this.Category sc-abstract = this.Abstract}}
                    {{/each}}
                </div>
            </div>

            {{!-- New articles --}}
            <div class="section">
                <div class="group-header">
                    Tin mới
                </div>
                {{!-- Nav tabs --}}
                <ul class="nav nav-tabs">
                    <li class="nav-item fs-13"><a href="#_newest" data-toggle="tab" class="nav-link">Mới nhất</a></li>
                    {{#each SC}}
                        <li class="nav-item fs-13"><a href="#{{@index}}" data-toggle="tab" class="nav-link">{{this.Name}}</a></li>
                    {{/each}}
                </ul>
                {{!-- Nav contents --}}
                <div class="tab-content">
                    <div class="tab-pane container active" id="_newest">
                            {{>short-content sc-id = topNewest.0.Id sc-image = topNewest.0.Cover sc-title = topNewest.0.Title sc-author = topNewest.0.Alias sc-date = topNewest.0.PublishDate sc-category = topNewest.0.Category sc-abstract = topNewest.0.Abstract}}
                            {{>horizontal-short-content  sc-id = topNewest.1.Id  sc-image = topNewest.1.Cover sc-title = topNewest.1.Title sc-author = topNewest.1.Alias sc-date = topNewest.1.PublishDate sc-category = topNewest.1.Category sc-abstract = topNewest.1.Abstract}}
                            {{>horizontal-short-content  sc-id = topNewest.2.Id  sc-image = topNewest.2.Cover sc-title = topNewest.2.Title sc-author = topNewest.2.Alias sc-date = topNewest.2.PublishDate sc-category = topNewest.2.Category sc-abstract = topNewest.2.Abstract}}
                            {{>horizontal-short-content  sc-id = topNewest.3.Id  sc-image = topNewest.3.Cover sc-title = topNewest.3.Title sc-author = topNewest.3.Alias sc-date = topNewest.3.PublishDate sc-category = topNewest.3.Category sc-abstract = topNewest.3.Abstract}}
                            {{>horizontal-short-content  sc-id = topNewest.4.Id  sc-image = topNewest.4.Cover sc-title = topNewest.4.Title sc-author = topNewest.4.Alias sc-date = topNewest.4.PublishDate sc-category = topNewest.4.Category sc-abstract = topNewest.4.Abstract}}
                    </div>

                    {{#each topSC}}
                        <div class="tab-pane container active" id="{{@index}}">
                            {{>short-content sc-id = this.0.Id sc-image = this.0.Cover sc-title = this.0.Title sc-author = this.0.Alias sc-date = this.0.PublishDate sc-category = this.0.Category sc-abstract = this.0.Abstract}}
                            {{>horizontal-short-content  sc-id = this.1.Id  sc-image = this.1.Cover sc-title = this.1.Title sc-author = this.1.Alias sc-date = this.1.PublishDate sc-category = this.1.Category sc-abstract = this.1.Abstract}}
                            {{>horizontal-short-content  sc-id = this.2.Id  sc-image = this.2.Cover sc-title = this.2.Title sc-author = this.2.Alias sc-date = this.2.PublishDate sc-category = this.2.Category sc-abstract = this.2.Abstract}}
                            {{>horizontal-short-content  sc-id = this.3.Id  sc-image = this.3.Cover sc-title = this.3.Title sc-author = this.3.Alias sc-date = this.3.PublishDate sc-category = this.3.Category sc-abstract = this.3.Abstract}}
                            {{>horizontal-short-content  sc-id = this.4.Id  sc-image = this.4.Cover sc-title = this.4.Title sc-author = this.4.Alias sc-date = this.4.PublishDate sc-category = this.4.Category sc-abstract = this.4.Abstract}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

</div>