{{#section 'css'}}
<link rel="stylesheet" href="/stylesheets/home.css">
{{/section}}

<div class="container">
    {{!-- Top articles --}}
    <div class="row section">
        <div class="col-sm-7">
            <div id="main-slide" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {{#each mostCommentCarousel}}
                    <div class="carousel-item {{#unless @index}}active
                    {{/unless}}">
                        {{>short-content data=this}}
                    </div>
                    {{/each}}
                </div>
                <a class="carousel-control-prev" href="#main-slide" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#main-slide" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-sm-5">
            {{#each mostCommentsRight}}
            {{>home-short-content data=this}}
            {{/each}}
        </div>
    </div>

    {{!-- Under top articles --}}
    <div class="row section">
        {{!-- Panels on the left --}}
        <div class="col-sm-3">
            <div class="top-category section">
                <div class="group-header">
                    Chuyên mục
                </div>
                <ul class="nav flex-column">
                    {{#each TopCat}}
                    <li>
                        <a class="panel-category" href="/search?category={{this.Id}}">
                            {{this.Name}}<span class="badge badge-secondary ml-auto">{{this.Articles}}</span></a>

                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="home-login section">
                <div class="group-header">
                    Đăng nhập nhanh
                </div>
                <form class="login-form login-form-sm" action="">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="abc@xyz.com.vn">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Mật khẩu:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="******">
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"> Ghi nhớ đăng nhập
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                </form>
            </div>
        </div>
        <div class="col-sm-9">
            {{!-- Most viewed articles --}}
            <div class="section">
                <div class="group-header">
                    Xem nhiều
                </div>
                <div class="group-contents">
                    {{#each mostViews}}
                    {{>horizontal-short-content data=this}}
                    {{/each}}
                </div>
            </div>

            {{!-- New articles --}}
            <div class="section">
                <div class="group-header">
                    Tin mới
                </div>
                {{!-- Nav tabs --}}
                <ul class="nav nav-tabs">
                    <li class="nav-item fs-13"><a href="#phone-tab" data-toggle="tab" class="nav-link active">Điện
                            thoại</a>
                    </li>
                    <li class="nav-item fs-13"><a href="#laptop-tab" data-toggle="tab" class="nav-link">Laptop</a></li>
                    <li class="nav-item fs-13"><a href="#programming-tab" data-toggle="tab" class="nav-link">Lập
                            trình</a>
                    </li>
                </ul>
                {{!-- Nav contents --}}
                <div class="tab-content">
                    <div class="tab-pane container active" id="phone-tab">
                        {{>short-content sc-id = top.3.id sc-image = top.3.image sc-title = top.3.title sc-author = top.3.author sc-date = top.3.date sc-category = top.3.category sc-abstract = top.3.abstract}}
                        {{#each top}}
                        {{>horizontal-short-content  sc-id = this.id  sc-image = this.image sc-title = this.title sc-author = this.author sc-date = this.date sc-category = this.category sc-abstract = this.abstract}}
                        {{/each}}
                    </div>
                    <div class="tab-pane container fade" id="laptop-tab">

                        {{>short-content sc-id = top.1.id sc-image = top.1.image sc-title = top.1.title sc-author = top.1.author sc-date = top.1.date sc-category = top.1.category sc-abstract = top.1.abstract}}
                        {{>horizontal-short-content}}
                        {{>horizontal-short-content}}
                        {{>horizontal-short-content}}
                    </div>
                    <div class="tab-pane container fade" id="tech-tab">
                        {{>short-content sc-id = top.2.id sc-image = top.2.image sc-title = top.2.title sc-author = top.2.author sc-date = top.2.date sc-category = top.2.category sc-abstract = top.2.abstract}}
                        {{>horizontal-short-content}}
                        {{>horizontal-short-content}}
                        {{>horizontal-short-content}}

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>