<div class="card w-25 mx-auto my-3">
    <img class="card-img-top" src="https://disabilitywebtraining.com/wp-content/uploads/2018/04/planPremium.png"
        alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title">Bạn chưa đăng ký Premium?</h4>
        <p class="card-text">Đăng ký ngay để được cấp tài khoản Premium và xem các bài viết chất lượng nhất!</p>
    </div>
    <div class="card-body">
        <a href="/" class="card-link">Quay về trang chủ</a>
        <a href="mailto:nguyenkhacnguyenkhang@gmail.com" class="card-link">Liên hệ</a>
    </div>
</div>