{{!-- {{> navbar}} --}}
<form id="change-password-form">
    <div class="text-center">
        <h2>Đổi mật khẩu</h2>
        <small>Hãy chọn một mật khẩu an toàn!</small>
    </div>
    <div class="input-group">
        <input type="password" class="form-control border-right-0 password" id="o-p" placeholder="Mật khẩu cũ">
        <div class="input-group-append">
            <button class="btn btn-link border-right border-top border-bottom unmask" type="button">
            </button>
        </div>
    </div>
    <div class="input-group">
        <input type="password" class="form-control border-right-0 password" id="p" placeholder="Mật khẩu mới">
        <div class="input-group-append">
            <button class="btn btn-link border-right border-top border-bottom unmask" type="button">
            </button>
        </div>
    </div>
    <div class="input-group">
        <input type="password" class="form-control border-right-0 password" id="p-c" placeholder="Xác nhận">
        <div class="input-group-append">
            <button class="btn btn-link border-right border-top border-bottom unmask" type="button"></button>
            </button>
        </div>
    </div>
    <div id="strong"><span></span></div>
    <div id="valid"></div>
    <div class="text-center"><button type="submit" class="btn btn-primary">Đổi mật khẩu</button></div>
</form>

<script>
    $(document).ready(function () {
        $('.unmask').click(function () {
            if ($(this).parent().prev('input').attr('type') == 'password')
                $(this).parent().prev('input').prop('type', 'text');
            else
                $(this).parent().prev('input').prop('type', 'password');
            return false;
        });

        $('.password').keyup(function () {
            var p_c = $('#p-c');
            var p = $('#p');

            if (p.val().length > 0) {
                if (p.val() != p_c.val()) {
                    $('#valid').html("Mật khẩu không khớp");
                } else {
                    $('#valid').html("");
                    var s = 'weak';
                }
                if (p.val().length > 5 && p.val().match(/\d+/g)) // at least an integer
                {
                    s = 'medium';
                }
                if (p.val().length > 6 && p.val().match(/[^\w\s]/gi)) // at least a non-alphabet character + no whitespace
                {
                    s = 'strong';
                }
                $('#strong span').addClass(s).html(s);
            }
        })
    });
</script>