<div class="container">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="#">Publish<span class="badge badge-light">{{{publish}}}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Dafts<span class="badge badge-light">{{{draft}}}</span></a>
                </li>
            </ul>
        </div>
        {{>post-item writer='Ngân Khánh' title='Những người bạn phương xa' link='#' datetime='Mar 9, 2019 11:11 AM'}}
        {{>post-item writer='Ngân Khánh' title='Những người bạn phương xa' link='#' datetime='Mar 9, 2019 11:11 AM'}}
    </div>
</div>