<h1><a href="/user" target="_blank" rel="noopener noreferrer">User <code>/user</code></a></h1>
<h3><a href="/user/login" target="_blank" rel="noopener noreferrer">Login <code>/user/login</code></a></h2>
<h3><a href="/user/change-password" target="_blank" rel="noopener noreferrer">Change password <code>/user/change-password</code></a></h3>
<h3><a href="/user/update-info" target="_blank" rel="noopener noreferrer">Update info <code>/user/update-info</code></a></h3>
<hr>
<h1><a href="/writer" target="_blank" rel="noopener noreferrer">Writer <code>/writer</code></a></h1>
<h3><a href="/writer/editor" target="_blank" rel="noopener noreferrer">New article <code>/writer/editor</code></a></h3>
<h3><a href="/writer/articles" target="_blank" rel="noopener noreferrer">All articles <code>/writer/articles</code></a></h3>
<hr>
<h1><a href="/article" target="_blank" rel="noopener noreferrer">Article <code>/article</code></a></h1>
<h3><a href="/article/article-demo" target="_blank" rel="noopener noreferrer">Demo article <code>/article-demo</code></a></h3>