<h1><a href="/subscriber" target="_blank" rel="noopener noreferrer">Subscriber <code>/subscriber</code></a></h1>
<h3><a href="/subscriber/login" target="_blank" rel="noopener noreferrer">Login <code>/subscriber/login</code></a></h2>
<h3><a href="/subscriber/change-password" target="_blank" rel="noopener noreferrer">Change password <code>/subscriber/change-password</code></a></h3>
<h3><a href="/subscriber/update-info" target="_blank" rel="noopener noreferrer">Update info <code>/subscriber/update-info</code></a></h3>
<hr>
<h1><a href="/writer" target="_blank" rel="noopener noreferrer">Writer <code>/writer</code></a></h1>
<h3><a href="/writer/editor" target="_blank" rel="noopener noreferrer">New article <code>/writer/editor</code></a></h3>
<h3><a href="/writer/articles" target="_blank" rel="noopener noreferrer">All articles <code>/writer/articles</code></a></h3>
<hr>
<h1><a href="/article" target="_blank" rel="noopener noreferrer">Article <code>/article</code></a></h1>
<h3><a href="/article/article-demo" target="_blank" rel="noopener noreferrer">Demo article <code>/article-demo</code></a></h3>
<hr>
<h1><a href="/editor" target="_blank" rel="noopener noreferrer">Editor <code>/editor</code></a> redirect to <code>/editor/drafts</code></h1>
<h3><a href="/editor/drafts" target="_blank" rel="noopener noreferrer">Drafts <code>/editor/drafts</code></a></h3>
<h3><a href="/editor/article-demo" target="_blank" rel="noopener noreferrer">Demo article <code>/editor/article-demo</code></a></h3>
<hr>
<h1><a href="/admin" target="_blank" rel="noopener noreferrer">Admin <code>/admin</code></a></h1>
<h3><a href="/admin/categories" target="_blank" rel="noopener noreferrer">Manage category <code>/admin/categories</code></a></h3>
<h3><a href="/admin/tags" target="_blank" rel="noopener noreferrer">Manage tags <code>/admin/tags</code></a></h3>
<h3><a href="/admin/drafts" target="_blank" rel="noopener noreferrer">Manage drafts <code>/admin/drafts</code></a></h3>
<h3><a href="/admin/users" target="_blank" rel="noopener noreferrer">Manage users <code>/admin/users</code></a></h3>