{{> navbar}}
<div class="container update-body">
    <form action="" class="update-form">
        <div class="form-group">
            <label for="name">Họ tên </label>
            <input type="text" id="name" class="form-control" placeholder="Nguyễn Công Hưng">
        </div>
        <div class="form-group">
            <label for="address">Địa chỉ:</label>
            <input type="text" id="address" class="form-control" placeholder="227 Nguyễn Văn Cừ">
        </div>
    </form>
</div>