{{!-- {{> navbar}} --}}
<form id="change-password-form">
    <div class="text-center">
        <h2>Đổi mật khẩu</h2>
        <small>Hãy chọn một mật khẩu an toàn!</small>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="new-password" placeholder="Mật khẩu mới">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="confirm-new-password" placeholder="Xác nhận">
    </div>
    <div class="text-center"><button type="submit" class="btn btn-primary">Đổi mật khẩu</button></div>
</form>