{{!-- {{> navbar}} --}}
<form id="change-password-form">
    <div class="text-center">
        <h2>Đổi mật khẩu</h2>
        <small>Hãy chọn một mật khẩu an toàn!</small>
    </div>
    <div class="input-group">
        <input type="password" class="form-control border-right-0 password" id="new-password"
            placeholder="Mật khẩu mới">
        <div class="input-group-append">
            <button class="btn btn-link border-right border-top border-bottom unmask" type="button">
            </button>
        </div>
    </div>
    <div class="input-group">
        <input type="password" class="form-control border-right-0 password" id="confirm-new-password"
            placeholder="Xác nhận">
        <div class="input-group-append">
            <button class="btn btn-link border-right border-top border-bottom unmask" type="button"></button>
            </button>
        </div>
    </div>
    <div id="strong"><span></span></div>
    <div id="valid"></div>
    <div class="text-center"><button type="submit" class="btn btn-primary">Đổi mật khẩu</button></div>
</form>

<script>
    $(document).ready(function () {
        $('.unmask').on('click', function () {
            if ($(this).parent().prev('input').attr('type') == 'password')
                $(this).parent().prev('input').prop('type', 'text');
            else
                $(this).parent().prev('input').prop('type', 'password');
            return false;
        });
    });
</script>