<div class="container editor">
    <input id="post-title" type="text" class="form-control border-0 shadow-none display-4" placeholder="Tiêu đề"
        width="100%" value="" />
    <div id="froala-editor" class="fr-box custom-theme fr-basic fr-top"></div>
    <div class="form-group d-flex flex-row-reverse">
        <button type="button" class="btn btn-outline-primary mt-5 right">Đăng bài</button>
    </div>
    <label for="tags">Tags:</label>
    <input type="text" name="tags" id="tags" class="border-0 shadow-none" />

</div>
</div>

<!-- Include Editor JS files. -->
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/froala-editor@2.9.0/js/froala_editor.pkgd.min.js"></script>
<!-- Initialize the editor. -->
<script>
    $(function () {
        $('div#froala-editor').froalaEditor(
            {
                toolbarButtons: [
                    'fullscreen',
                    'bold',
                    'italic',
                    'underline',
                    'paragraphFormat',
                    'align',
                    'outdent',
                    'indent',
                    'insertLink',
                    'quote',
                    'insertHR',
                    'insertImage',
                    'html',

                ],
                tableResizingLimit: 100,
                placeholderText: false,
            });
    });
</script>