<div class="row">
    <div class="col-sm-2">
        {{> side-panel}}
    </div>
    <div class="col-sm-10">
        <input id="post-title" type="text" class="form-control no-border lead" placeholder="Tiêu đề" width="100%" />
        <div id="froala-editor" class="fr-box custom-theme fr-basic fr-top"></div>
    </div>
</div>



<!-- Include Editor JS files. -->
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/froala-editor@2.9.0/js/froala_editor.pkgd.min.js"></script>
<!-- Initialize the editor. -->
<script>
    $(function () {
        $('div#froala-editor').froalaEditor(
            {
                toolbarButtons: [
                    'bold',
                    'italic',
                    'underline',
                    'paragraphFormat',
                    'fontSize',
                    'color',
                    '|',
                    'align',
                    'outdent',
                    'indent',
                    'insertLink',
                    'quote',
                    'insertHR',
                    '|',
                    'clearFormatting',
                    'html',
                ],
                tableResizingLimit: 100,
                placeholderText: false,
            });
    });
</script>