{{#section 'css'}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    type="text/css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</script>
<link rel="stylesheet" href="/stylesheets/editor.css">
{{/section}}
<div class="container">
    <div class="card border-right-0 border-bottom-0 border-left-0">
        <div class="card-header border-left border-right">
            <ul class="nav nav-tabs card-header-tabs">
                {{#if isDrafts}}
                <li class="nav-item">
                    <a class="nav-link" name="top-article-tab" status="4" href="#">Published</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" name="top-article-tab" status="1" href="#">Dafts</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link active" name="top-article-tab" status="4" href="#">Published</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" name="top-article-tab" status="1" href="#">Dafts</a>
                </li>
                {{/if}}
            </ul>
        </div>
        {{#each data}}
        {{>post-item article=this cats=../cats tags=../tags isDraft=true}}
        {{/each}}
    </div>
</div>
{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.js"></script>
<script>
    $("a[name='top-article-tab']").click(function () {
        var status = $(this).attr("status");
        if (status == "1") {
            window.location.href = "/editor/drafts/unreleased"
        } else if (status == "4") {
            window.location.href = "/editor/drafts/released"
        } else {
            return;
        }
    })
</script>
{{/section}}