<div class="row">
    <div class="col">
        <span><i class="far fa-id-badge" style="margin-right: 5px;"></i>Số hiệu thẻ:</span>
        <div class="wrap-input1 validate-input">
            <input class="input1" name="SoHieuThe" type="text" >
            <span class="shadow-input1"></span>
        </div>
    </div>
    <div class="col">
        <span><i class="fas fa-signature" style="margin-right: 5px;"></i>Họ tên chủ thẻ</span>
        <div class="wrap-input1 validate-input" >   
            <input class="input1" type="text"  name="TenChuThe">
            <span class="shadow-input1"></span>
        </div>
    </div>

</div>